<mat-toolbar>
  <span class="toobar-button"><a routerLink="/formly" routerLinkActive="mat-accent">Angular Formly</a></span>
  <span class="toobar-button"><a routerLink="/buttons" routerLinkActive="mat-accent">Button Examples</a></span>
  <span class="toobar-button"><a routerLink="/heroForm" routerLinkActive="mat-accent">Hero Form</a></span>
  <span class="toobar-button"><a routerLink="/createEmployee" routerLinkActive="mat-accent">Create Employee</a></span>
</mat-toolbar>

<router-outlet></router-outlet>
